body
{
   background-color: rgb(157, 28, 243);
}

.card{
   box-shadow: 0px 4px 8px  rgba(0, 0, 0, 0.2);
   overflow: hidden;
   max-width: 350px;
   margin:auto ;
   text-align: center;
   border: 1px solid;
   border-radius: 15px ;
   background-color: rgb(205, 238, 162);
}